<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Create new hotel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>    
</head>
<body>
	<div th:include="template :: header"></div>
	
	<div class="container">
		<h1>Editing Hotel <span th:text="${hotel.name}"></span></h1>
	
		<div th:include="hotels/form :: hotelform(@{|/hotels/${hotel.id}|})"></div>
		
    	<p><a href="/hotels">List all hotels</a></p>
    </div>
</body>
</html>

