
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<head>

<title>Hotel List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />

</head>
<body>
	<div th:include="template :: header"></div>

	<div class="container">
		<h1>Hotel List</h1>
		<ul class="list-group" th:each="hotel : ${hotels}">
			<li class="list-group-item"><a
				style="margin: 0px; display: block; width: 90%; height: 100%;"
				th:text="${hotel.name}" th:href="@{|/hotels/${hotel.id}|}"> </a> <span
				style="margin-top: -20px" class="badge" th:text="${hotel.rating}"></span>
			</li>
		</ul>

		<sec:authorize
			access="${#authorization.expression(T(booking.security.AllowedForHotelCreation).Condition)}">

			<form style="display: inline-block" th:action="@{/hotels/new}"
				method="get">
				<input style="margin-top: 3px" class="btn btn-primary btn-lg"
					type="submit" value="Add Hotel" />
			</form>

		</sec:authorize>
	</div>
</body>
</html>

