<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bookings Show</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
</head>
<body>
	<div th:include="template :: header"></div>

	<div class="container">

		<div>
			<h2>
				Occupancy report for <span th:href="@{|/hotels/${hotel.id}|}"
					th:text="' '+${hotel.name}"></span>
			</h2>
			<br/>
			<form action="#" th:action="@{|/hotels/${hotel.id}/occupancy|}" th:object="${timeInterval}" method="get">
				<input type="hidden" th:field="*{id}" />
				
				From: <input type="date" th:value="${timeInterval.startDate}" th:field="*{startDate}" data-error='error'/> 
				To: <input type="date" th:value="${timeInterval.endDate}" th:field="*{endDate}" data-error='error'/>
				
				<input type="submit" value="Check Booking" />
			</form>
			<br/>
			<h4> 
				<b>From:</b> <span th:text="' '+${timeInterval.startDate} + ' '"></span>
				<b>To:</b> <span th:text="' '+${timeInterval.endDate}"></span>
			</h4>
			<br/>
		</div>

		<div>
			
			<table class="table table-bordered">
				<thead>
					<tr>
						<th th:text="RoomTypeName"></th>
						<th th:text="RoomsOccupied"></th>
						<th th:text="NumberPendingRequests"></th>
						<th th:text="NumberOfRooms"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="report : ${reports}">
						<td th:text="${report.roomtypename}"></td>
						<td th:text="${report.nofoccupiedrooms}"></td>
						<td th:text="${report.nofpendingininrange}"></td>
						<td th:text="${report.nofrooms}"></td>
					</tr>
				</tbody>
			</table>
			<p>
				<a th:href="@{|/hotels/${hotel.id}|}">Go back</a>
			</p>
		</div>

	</div>
</body>
</html>

