<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hotels</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
</head>
<body>
	<div th:include="template :: header"></div>

	<div class="container">
		<h1>
			Hotel <span th:text="${hotel.name}"></span>
		</h1>

		<br></br>
		<div>
			<p>
				Address: <span th:text=" ${hotel.address}"></span>
			</p>
			<p>
				Category: <span th:text=" ${hotel.category}"></span>
			</p>
			<p>
				Rating: <span th:text=" ${hotel.rating}"></span>
			</p>
		</div>

		<h3>RoomTypes</h3>
		<ul class="list-group" th:each="roomtype : ${roomtypes}">
			<li class="list-group-item" style="width: 25%; height: 100%;"><a
				th:text="${roomtype.name}"
				style="margin: 0px; display: block; width: 100%; height: 100%;"
				th:href="@{|/roomtype/${roomtype.id}|}"></a></li>
		</ul>

		<div>
			<h3>Check occupancy for the dates:</h3>

			<form action="#" th:action="@{|/hotels/${hotel.id}/occupancy|}"
				th:object="${timeinterval}" method="get">
				<input type="hidden" th:field="*{id}" /> From: <input type="date"
					th:value="${timeinterval.startDate}" th:field="*{startDate}"
					data-error='error' /> To: <input type="date"
					th:value="${timeinterval.endDate}" th:field="*{endDate}"
					data-error='error' /> <input type="submit" value="Check Booking" />
				<input type="reset" value="Reset" />
			</form>
		</div>

		<div th:if="${pendingbookings} != null">
			<h3>Pending booking request's</h3>

			<table class="table table-bordered">
				<thead>
					<tr>
						<th th:text="RoomType"></th>
						<th th:text="Price"></th>
						<th th:text="From"></th>
						<th th:text="To"></th>
						<th th:text="HotelGuest"></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="booking : ${pendingbookings}">
						<td th:text="${booking.bookedRoomType.name}"></td>
						<td th:text="${booking.finalPrice}"></td>
						<td th:text="${booking.startDate}"></td>
						<td th:text="${booking.endDate}"></td>
						<td th:text="${booking.bookingUser.name}"></td>
						<td><a th:href="@{|/bookings/${booking.id}/accept|}">Accept</a>
							<a th:href="@{|/bookings/${booking.id}/decline|}">Decline</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div th:if="${acceptedcomments} != null">
			<br />
			<h4>Comments</h4>
			<ul th:each="comment : ${acceptedcomments}">
				<li>
					<div th:include="comments/commentshow:: commentshow(@{/comments/})"></div>
				</li>
			</ul>
			<br />
		</div>
		<div>
			<form action="#" th:action="@{|/comments/${addcomment.hotel.id}|}"
				th:object="${addcomment}" method="post">
				<h5>Make your comment</h5>
				<div class="input-group">
					<p>
						<input type="hidden" th:field="*{id}" /> <input type="hidden"
							th:field="*{user}" /> <input type="hidden" th:field="*{hotel}" />
						<input type="hidden" th:field="*{date}" /> <input type="hidden"
							th:field="*{status}" /> <input type="text" class="form-control"
							style="margin: 0px; width: 150%;" th:field="*{commenttext}" /> <input
							type="submit" value="Send" style="margin-top: 3px"
							class="btn btn-default btn-sm" />
					</p>
				</div>
			</form>
		</div>
		<div th:if="${pendingcomments} != null">
			<h4>Pending comments</h4>
			<ul th:each="comment : ${pendingcomments}">
				<li>
					<div th:include="comments/commentshow:: commentshow(@{/comments/})"></div>
					<form action="#"
						th:action="@{|/comments/${comment.id}/cofirmPost|}"
						th:object="${comment}" method="post">
						<input type="submit" value="Accept" style="margin-top: 3px"
							class="btn btn-default btn-sm" />
					</form>
				</li>
			</ul>
		</div>

		<p>
			<a th:href="@{|/hotels/${hotel.id}/edit|}">Edit hotel</a>
		</p>
		<p>
			<a th:href="@{|/roomtype/new/${hotel.id}|}">Add a new room type</a>
		</p>
		<p>
			<a href="/hotels">Go back</a>
		</p>
	</div>
</body>
</html>

