<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Create new hotel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>    
</head>
<body>
	<div th:include="template :: header"></div>
	
	<div class="container">
		<h1>New Room Type: <span th:text="${hotel.name}"></span></h1>
	
		<div th:include="roomtype/form :: roomtypeform(@{/roomtype/})"></div>
		
	    <p><a th:href="@{|/hotels/${hotel.id}|}">Cancel</a></p>
    </div>
</body>
</html>

