<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Hotels</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>    
</head>
<body>
	<div th:include="template :: header"></div>
	
	<div class="container">
		<h1>Hotel <span th:text="${hotel.name}"></span></h1>
	
		<h3>Rooms of type <span th:text="' '+${roomtype.name}"></span></h3>
		<p></p>
		<p> <b>Description:</b> <span th:text=" ${roomtype.description}"></span></p>
		<p> <b>Price:</b> <span th:text=" ${roomtype.price} + '&euro;'"></span></p>
		<p></p>

		<div>
			<form action="#" th:action="@{|/bookings/${roomtype.id}|}" th:object="${timeinterval}" method="get">
				
				<p><input type="hidden" th:field="*{id}" /></p>
				
				<p>Start Date: <input type="date" th:value="${timeinterval.startDate}" th:field="*{startDate}" data-error='error'/> 
				End Date: <input type="date" th:value="${timeinterval.endDate}" th:field="*{endDate}" data-error='error'/></p>
				
				<p><input type="submit" value="Check Booking" /> <input type="reset" value="Reset" /></p>
				
			</form>
		</div>
		
		<h4>List of Rooms: </h4>
	    <ul th:each="room : ${rooms}">
  	   	<li><a
				th:text="${room.name}"
				th:href="@{|/rooms/${room.id}|}"></a></li>
		</ul>
	
	    <p><a th:href="@{|/roomtype/${roomtype.id}/edit|}">Edit room type</a></p>
		<p><a th:href="@{|/rooms/new/${roomtype.id}|}">Add new room</a></p>
	    <p><a th:href="@{|/hotels/${hotel.id}|}">Go back</a></p>
	    
    </div>
</body>
</html>

