<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Comment box</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
</head>
<body>
	<div class="container">
		<div th:fragment="commentshow(url)">

			<p>
				<b><span th:text="${comment.user.name}"></span></b> <span
					th:text="${comment.date}"></span>
			</p>

			<span th:text="${comment.commenttext}"></span>

			<form action="#" th:action="@{|/comments/${comment.id}/delete|}"
				th:object="${addcomment}" method="post">
				<input type="submit" value="Delete" style="margin-top: 3px"
					class="btn btn-default btn-sm" />
			</form>
		</div>
	</div>
</body>
</html>

