<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>List of Users</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
	
<link rel="stylesheet" href="inLineList.css" />	
</head>
<body>
	<div th:include="template :: header"></div>

	<div class="container">
		
		<h1>List of Users</h1>
		<ul th:each="user : ${users}">
			<li>
				<a th:text="${user.name}" th:href="@{|/users/${user.id}|}"></a>
				
				<ul id="rolelist" th:each = "role : ${user.roles}">
					<li> <span th:text="${role.name}"></span> </li>
				</ul>
				
			</li>
		</ul>
		
		<div th:if = "${pendingcm} != null">
		<h3>Pending for comment moderators</h3>
		<ul th:each="user : ${pendingcm}">
			<li>
				<a th:text="${user.name}" th:href="@{|/users/${user.id}/accept|}"></a>
				
				<form action="#" th:action="@{|/users/${user.id}/accept|}"
					th:object="${user}" method="post">
				<input type="submit" value="Accept" />
				</form>
				
				<form action="#" th:action="@{|/users/${user.id}/reject|}" method="post">
				<input type="submit" value="Decline" />
				</form>
				
			</li>
		</ul>
		</div>
		
		<div th:if = "${pendinghm} != null">
		<h3>Pending for hotel manager</h3>
		<ul th:each="user : ${pendinghm}">
			<li>
				<a th:text="${user.name}" th:href="@{|/users/${user.id}/accept|}"></a>
				
				<form action="#" th:action="@{|/users/${user.id}/accept|}"
					th:object="${user}" method="post">
				<input type="submit" value="Accept" />
				</form>
				
				<form action="#" th:action="@{|/users/${user.id}/reject|}" method="post">
				<input type="submit" value="Decline" />
				</form>
				
			</li>
		</ul>
		</div>
		
		<div th:if = "${pendingad} != null">
		<h3>Pending for Admin</h3>
		<ul th:each="user : ${pendingad}">
			<li>
				
				<a th:text="${user.name}" th:href="@{|/users/${user.id}/accept|}"></a>
				
				<form action="#" th:action="@{|/users/${user.id}/accept|}" method="post">
				<input type="submit" value="Accept" />
				</form>
				
				<form action="#" th:action="@{|/users/${user.id}/reject|}" method="post">
				<input type="submit" value="Decline" />
				</form>
				
			</li>
		</ul>
		</div>
		

		<!-- <div th:each="pendinguser : ${pendingusers}">

			<a th:text="${pendinguser.name}"
				th:href="@{|/users/${pendinguser.id}|}"></a>
			<p>
				This user have a pendig request for <span
					th:text="${pendinguser.role.name}"></span>
			</p>

			<form action="#" th:action="@{|/users/${pendinguser.id}/accept|}"
				th:object="${pendinguser}" method="post">
				<input type="submit" value="Accept" />
			</form>

			<form action="#" th:action="@{|/users/${pendinguser.id}/reject|}"
				th:object="${pendinguser}" method="post">
				<input type="submit" value="Reject" />
			</form>
		</div>  -->

		<p>
			<a href="/users/new">new user</a>
		</p>

	</div>
</body>
</html>

