<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hotels</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
</head>
<body>
	<div th:include="template :: header"></div>

	<div class="container">
		<h2>
			Hello <span th:text="${user.name}"></span>
		</h2>

		<br></br>
		
		<h5>You have the following roles:</h5>
		<ul th:each="role : ${user.roles}">
			<li>
				<span th:text="${role.name}"></span>
			</li>
		</ul>

		<div>
			<div th:if="${allroles} == true">
				<p>You already have all roles</p>
			</div>

			<div th:if="${allroles} == false and ${pending} == true">
				<p>You have a pending request... Be patient :)</p>
			</div>

			<div th:if="${allroles} == false and ${pending} == false">
				<p>You can request the following roles:</p>
				<div th:if = "${needcm == true}">
					<form action="#" th:action="@{|/users/askfor/1|}" method="post">
  						<input type="submit" value="Comment Moderator" /> 
					</form>
				</div>
				<div th:if = "${needhm == true}">
					<form action="#" th:action="@{|/users/askfor/2|}" method="post">
  						<input type="submit" value="Hotel Manager" /> 
					</form>
				</div>
				<div th:if = "${needad == true}">
					<form action="#" th:action="@{|/users/askfor/3|}" method="post">
  						<input type="submit" value="Admin" /> 
					</form>
				</div>
			</div>
			
			<div>
				<h3>My bookings</h3>
				<table class="table table-bordered">
  					<thead>
    					<tr>
      					<th th:text="ID"></th>
      					<th th:text="Price"></th>
      					<th th:text="Accepted"></th>
      					<th th:text="From"></th>
      					<th th:text="To"></th>
      					<th th:text="RoomType"></th>
      					<th th:text="Hotel"></th>
    					</tr>
  					</thead>
  					<tbody>
    				<tr th:each="booking : ${user.bookings}">
      					<td th:text="${booking.id}"></td>
      					<td th:text="${booking.finalPrice}"></td>
      					<td th:text="${booking.accepted}"></td>
      					<td th:text="${booking.startDate}"></td>
      					<td th:text="${booking.endDate}"></td>
      					<td th:text="${booking.bookedRoomType.name}"></td>
      					<td th:text="${booking.bookedRoomType.hotel.name}"></td>
    				</tr>
  					</tbody>
				</table>
			</div>
			
		</div>
	</div>
</body>
</html>

