<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Login Page</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />

</head>
<body>
	<div th:include="template :: header"></div>

	<div class="container">

		<div th:if="${param.error}" class="alert alert-danger" role="alert">Invalid username and password.</div>
		<div th:if="${param.logout}" class="alert alert-success" role="alert">You have been logged out.</div>
		<form th:action="@{/login}" method="post">

			<div class="input-group input-group-lg" style="margin-bottom: 10px">
				<span class="input-group-addon" id="sizing-addon1">Username</span> <input
					type="text" class="form-control" name="username"
					aria-describedby="sizing-addon1"> </input>
			</div>

			<div class="input-group input-group-lg">
				<span class="input-group-addon" id="sizing-addon2">Password</span> <input
					type="password" class="form-control" name="password"
					aria-describedby="sizing-addon2"> </input>
			</div>

			<div style="margin-top: 20px">
				<input class="btn btn-primary btn-lg" type="submit" value="Sign In" />
			</div>
		</form>

		<h5>
			If you ain't registered yet, <a th:href="@{/users/new}">Sign Up</a>
			now for FREE!
		</h5>

	</div>

</body>
</html>