<!DOCTYPE html>
<html>
<head>
<title>Template file</title>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />

</head>
<body>
	<div th:fragment="header">
		<nav style="margin-bottom:0px !important" class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Hotel Manager</a>
				</div>

				<ul class="nav navbar-nav">
					<li><a th:href="@{/hotels}">Hotels</a></li>
					<li><a th:href="@{/users}">Users</a></li>
				</ul>


				<div th:if="${#httpServletRequest.remoteUser}!=null">
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a th:text="${#httpServletRequest.remoteUser}"
								th:href="@{|/users/myprofile|}"></a></li>
							<li>
								<form style="display: inline-block" th:action="@{/logout}"
									method="post" class="navbar-form navbar-left">
									<input style="margin-top: 3px" class="btn btn-primary btn-sm"
										type="submit" value="Sign Out" />
								</form>
							</li>
						</ul>
					</div>
				</div>

				<div th:if="${#httpServletRequest.remoteUser} == null">

					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a th:href="@{/login}"> Login </a></li>
							<li>
								<form style="display: inline-block" th:action="@{/users/new}"
									method="get" class="navbar-form navbar-left">
									<input style="margin-top: 3px" class="btn btn-primary btn-sm"
										type="submit" value="Sign Up" />
								</form>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</div>

	<div th:fragment="footer">
		<div class="container">Footer</div>
	</div>
</body>
</html>