<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Bookings Show</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>    
</head>
<body>
	<div th:include="template :: header"></div>
	
	<div class="container" th:if="${isavailable} == false">			
		<h3>Sorry no rooms available at that time</h3>   
    </div>
    
    <div class="container" th:if="${isavailable} == true">
    	
    	<p>Number of available rooms: <span th:text="' ' + ${nofavailablerooms}"></span></p>
		
		<h4>Do you want to confirm reservation for <span th:text="' '+${hotel.name}"></span>
		in room <span th:text="' '+${roomtype.name}"></span>?</h4>
		
		<form action="#" th:action="@{|/bookings/${booking.id}|}" th:object="${booking}" method="post">
			<p>
				<input type="hidden" th:field="*{id}" />
				<input type="hidden" th:field="*{accepted}" />
				<input type="hidden" th:field="*{bookedRoomType}" />
				<input type="hidden" th:field="*{bookingUser}" />
			</p>
			
			<h4>Amount: <input type="text" th:field="*{finalPrice}" readonly="true"/>€ </h4>
			
			<p>From: <input type="date" th:field="*{startDate}" readonly="true"/> 
				To: <input type="date" th:field="*{endDate}" readonly="true"/></p>
			
			<p><input type="submit" value="Confirm" /></p>
		</form>
		
		<p><a th:href="@{|/roomtype/${roomtype.id}|}">Cancel</a></p>
    </div>
</body>
</html>

