<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Create new hotel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>    
</head>
<body>
	<div th:include="template :: header"></div>
	
	<div class="container">
		<h3>New Room of type <span th:text="${roomtype.name} + ' in hotel '+ ${hotel.name}"></span></h3>
	
		<div th:include="rooms/form :: roomform(@{/rooms/})"></div>
		
		<p><a th:href="@{|/rooms/${roomtype.id}|}">Cancel</a></p>

    </div>
</body>
</html>

