<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Create new hotel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>    
</head>
<body>
	<div th:include="template :: header"></div>
	
	<div class="container">
		<h3>Edit room of type <span th:text="${roomtype.name} + ' in hotel '+ ${hotel.name}"></span></h3>
	
		<div th:include="rooms/form :: roomform(@{|/rooms/${room.id}|})"></div>
		
	    <p><a href="/hotels/new">Add a new hotel</a></p>
    	<p><a href="/hotels">List all hotels</a></p>
    </div>
</body>
</html>

