<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Hotels</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>    
</head>
<body>
	<div th:include="template :: header"></div>
	
	<div class="container">
		<h1>Hotel <span th:text="${hotel.name}"></span></h1>
	
		<h2>Room of type:<span th:text="' ' + ${roomtype.name}"></span></h2>
		
		<p> Room name: <span th:text=" ${room.name}"></span></p>
		<p> Room floor: <span th:text=" ${room.floor}"></span></p>
	
	    <p><a th:href="@{|/roomtype/${roomtype.id}|}">Return to room types</a></p>
	    <p><a th:href="@{|/rooms/${room.id}/edit|}">Edit Room</a></p>	    
    </div>
</body>
</html>

